.container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10rem; */
    padding: 10rem 5rem;
}

.content {
    /* flex: 1; */

    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* padding-right: 5rem; */
    width: 500px;
}

.content h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 56px;
}

.images {
    width: 750px;
    /* flex: 1; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 120px;
}

.image {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imageTall {
    grid-row: span 2 / auto
}

.imageWide {
    grid-column: span 2 / auto;
}