.container {
    display: flex;
    padding: 10rem 5rem;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
    width: 400px;
    height: 450px;
    gap: 2rem;
    background: url("../static/images/gradient.png");
    border-radius: 20px;
}

.card p {
    padding-right: 7rem;
    line-height: 32px;
    color: #d9d9d9;
}