.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 1rem 2rem;
	padding: 1rem;
    height: 10vh;

	backdrop-filter: blur(6px);
	position: relative;
}
.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	filter: blur(2px);
	border-radius: 10px;
	opacity: 0.25;

	/* ff 3.6+ */
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(186, 100, 237, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(186, 100, 237, 1) 100%);

	/* opera 11.10+ */
	background: -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(186, 100, 237, 1) 100%);

	/* ie 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BA64ED', endColorstr='#000000', GradientType=0 );

	/* ie 10+ */
	background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(186, 100, 237, 1) 100%);

	/* global 94%+ browsers support */
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(186, 100, 237, 1) 100%);
}

.holder {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
}

.navlinks {
	flex: 1;
	margin: 0 20rem;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}

.navlinks li {
	color: #b5b5b5;
    transition: all 0.1s ease-out;
}

.navlinks li:hover {
	color: white;
}

@media screen and (width <= 980px) {
    .navlinks {
        display: none;
    }

    .burger {
        display: block;
    }
}
